.container{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right:30px ;
}

.profession{
    font-size: 60px
}

.name{
    font-size: 30px;
}
