@use "styles/variables.scss" as vars;

.jobTitle{
    position: relative;
    margin: 50px 0 10px;
    font-size: 2rem;
    padding-bottom: 10px;   
  }
  
  .container{
    width: fit-content;
  }
  
  .underlineJobTitle{
    background-color: vars.$secondary-color;
    min-width: fit-content;
    height: 5px;
    animation-name: underlineMove;
    animation-duration: 2s;
    animation-timing-function:linear;
  }

@keyframes underlineMove {
    from {

      width:0%;
    }
  
    to { 
      width: 100%;
    }
  }