@use "styles/variables.scss" as vars;

.mainContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.container{
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 80%;
}

.line{
    height: 5px;
    background-color: vars.$secondary-color;
    width: 100%;
    margin: 10px 0;
}