@use "styles/variables.scss" as vars;


.container{
  display: flex;
  justify-content: center;
  margin: 0.5em;

}

.div{
  height:100%;
  width:30%;
}
.profilePicture{
  border-radius: 100%;
  opacity:0.5;
 
}

.nav{
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  overflow: hidden;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0;

  }

.navContainer{
  display: flex;
  margin-left: 30px;
  
}

